transcript
fastica/fastica.mpf
fastica/work/_info
fastica/vsim.wlf
fastica/work/_lib.qdb
fastica/work/_lib1_0.qpg
fastica/work/_lib1_0.qdb
fastica/work/_lib1_0.qtl
fastica/work/_lib1_60.qpg
fastica/work/_lib1_60.qdb
fastica/work/_lib1_60.qtl
fastica/work/_lib1_86.qpg
fastica/work/_lib1_86.qdb
fastica/work/_lib1_86.qtl
fastica/work/_vmake
fastica/fastica.cr.mti
fastica/fastica.cr.mti
fastica/fastica.cr.mti
fastica/fastica.cr.mti
fastica/work/_lib1_198.qdb
fastica/work/_lib1_198.qpg
fastica/work/_lib1_198.qtl
fastica/work/_lib1_134.qdb
fastica/work/_lib1_134.qpg
fastica/work/_lib1_134.qtl
