transcript
fastica/fastica.mpf
fastica/work/_info
fastica/vsim.wlf
fastica/work/_lib.qdb
fastica/work/_lib1_0.qpg
fastica/work/_lib1_0.qdb
fastica/work/_lib1_0.qtl
fastica/work/_lib1_60.qpg
fastica/work/_lib1_60.qdb
fastica/work/_lib1_60.qtl
fastica/work/_lib1_86.qpg
fastica/work/_lib1_86.qdb
fastica/work/_lib1_86.qtl
fastica/work/_vmake
fastica/fastica.cr.mti
fastica/fastica.cr.mti
fastica/fastica.cr.mti
fastica/fastica.cr.mti
fastica/work/_lib1_198.qdb
fastica/work/_lib1_198.qpg
fastica/work/_lib1_198.qtl
fastica/work/_lib1_134.qdb
fastica/work/_lib1_134.qpg
fastica/work/_lib1_134.qtl
fastica/work/_lib1_200.qdb
fastica/work/_lib1_200.qpg
fastica/work/_lib1_200.qtl
fastica/tb_fastica.v
fastica/work/_lib1_206.qpg
fastica/work/_lib1_206.qtl
fastica/work/_lib1_206.qdb
fastica/work/_lib1_208.qdb
.gitignore
fastica/work/_lib1_208.qtl
fastica/work/_lib1_208.qpg
fastica/work/_lib1_262.qdb
fastica/work/_lib1_262.qpg
fastica/work/_lib1_262.qtl
final/db/FASTICA_PROCESSOR.(0).cnf.cdb
final/db/FASTICA_PROCESSOR.(0).cnf.hdb
final/db/FASTICA_PROCESSOR.(1).cnf.hdb
.gitignore
.gitignore
.gitignore
.gitignore
.gitignore
.gitignore
final/db/FASTICA_PROCESSOR.(1).cnf.cdb
final/db/FASTICA_PROCESSOR.(2).cnf.cdb
final/db/FASTICA_PROCESSOR.(2).cnf.hdb
final/db/FASTICA_PROCESSOR.(3).cnf.cdb
final/db/FASTICA_PROCESSOR.(3).cnf.hdb
final/db/FASTICA_PROCESSOR.(4).cnf.cdb
final/db/FASTICA_PROCESSOR.(4).cnf.hdb
final/db/FASTICA_PROCESSOR.(5).cnf.cdb
final/db/FASTICA_PROCESSOR.(5).cnf.hdb
final/db/FASTICA_PROCESSOR.(6).cnf.cdb
final/db/FASTICA_PROCESSOR.(6).cnf.hdb
final/db/FASTICA_PROCESSOR.(7).cnf.cdb
final/db/FASTICA_PROCESSOR.(7).cnf.hdb
final/db/FASTICA_PROCESSOR.(8).cnf.cdb
final/db/FASTICA_PROCESSOR.(8).cnf.hdb
final/db/FASTICA_PROCESSOR.(9).cnf.cdb
final/db/FASTICA_PROCESSOR.(9).cnf.hdb
final/db/FASTICA_PROCESSOR.(10).cnf.cdb
final/db/FASTICA_PROCESSOR.(10).cnf.hdb
final/db/FASTICA_PROCESSOR.(11).cnf.cdb
final/db/FASTICA_PROCESSOR.(11).cnf.hdb
final/db/FASTICA_PROCESSOR.(12).cnf.cdb
final/db/FASTICA_PROCESSOR.(12).cnf.hdb
final/db/FASTICA_PROCESSOR.(13).cnf.cdb
final/db/FASTICA_PROCESSOR.(13).cnf.hdb
final/db/FASTICA_PROCESSOR.(14).cnf.cdb
final/db/FASTICA_PROCESSOR.(14).cnf.hdb
final/db/FASTICA_PROCESSOR.(15).cnf.cdb
final/db/FASTICA_PROCESSOR.(15).cnf.hdb
final/db/FASTICA_PROCESSOR.(16).cnf.cdb
final/db/FASTICA_PROCESSOR.(16).cnf.hdb
final/db/FASTICA_PROCESSOR.(17).cnf.cdb
final/db/FASTICA_PROCESSOR.(17).cnf.hdb
final/db/FASTICA_PROCESSOR.(18).cnf.cdb
final/db/FASTICA_PROCESSOR.(18).cnf.hdb
final/db/FASTICA_PROCESSOR.(19).cnf.cdb
final/db/FASTICA_PROCESSOR.(19).cnf.hdb
final/db/FASTICA_PROCESSOR.(20).cnf.cdb
final/db/FASTICA_PROCESSOR.(20).cnf.hdb
final/db/FASTICA_PROCESSOR.(21).cnf.cdb
final/db/FASTICA_PROCESSOR.(21).cnf.hdb
final/db/FASTICA_PROCESSOR.(22).cnf.cdb
final/db/FASTICA_PROCESSOR.(22).cnf.hdb
final/db/FASTICA_PROCESSOR.(23).cnf.cdb
final/db/FASTICA_PROCESSOR.(23).cnf.hdb
final/db/FASTICA_PROCESSOR.(24).cnf.cdb
final/db/FASTICA_PROCESSOR.(24).cnf.hdb
final/db/FASTICA_PROCESSOR.(25).cnf.cdb
final/db/FASTICA_PROCESSOR.(25).cnf.hdb
final/db/FASTICA_PROCESSOR.(26).cnf.cdb
final/db/FASTICA_PROCESSOR.(26).cnf.hdb
final/db/FASTICA_PROCESSOR.(27).cnf.cdb
final/db/FASTICA_PROCESSOR.(27).cnf.hdb
final/db/FASTICA_PROCESSOR.(28).cnf.cdb
final/db/FASTICA_PROCESSOR.(28).cnf.hdb
final/db/FASTICA_PROCESSOR.(29).cnf.cdb
final/db/FASTICA_PROCESSOR.(29).cnf.hdb
final/db/FASTICA_PROCESSOR.(30).cnf.cdb
final/db/FASTICA_PROCESSOR.(30).cnf.hdb
final/db/FASTICA_PROCESSOR.(31).cnf.cdb
final/db/FASTICA_PROCESSOR.(31).cnf.hdb
final/db/FASTICA_PROCESSOR.(32).cnf.cdb
final/db/FASTICA_PROCESSOR.(32).cnf.hdb
final/db/FASTICA_PROCESSOR.(33).cnf.cdb
final/db/FASTICA_PROCESSOR.(33).cnf.hdb
final/db/FASTICA_PROCESSOR.(34).cnf.cdb
final/db/FASTICA_PROCESSOR.(34).cnf.hdb
final/db/FASTICA_PROCESSOR.(35).cnf.cdb
final/db/FASTICA_PROCESSOR.(35).cnf.hdb
final/db/FASTICA_PROCESSOR.(36).cnf.cdb
final/db/FASTICA_PROCESSOR.(36).cnf.hdb
final/db/FASTICA_PROCESSOR.(37).cnf.cdb
final/db/FASTICA_PROCESSOR.(37).cnf.hdb
final/db/FASTICA_PROCESSOR.(38).cnf.cdb
final/db/FASTICA_PROCESSOR.(38).cnf.hdb
final/db/FASTICA_PROCESSOR.(39).cnf.cdb
final/db/FASTICA_PROCESSOR.(39).cnf.hdb
final/db/FASTICA_PROCESSOR.(40).cnf.cdb
final/db/FASTICA_PROCESSOR.(40).cnf.hdb
final/db/FASTICA_PROCESSOR.(41).cnf.cdb
final/db/FASTICA_PROCESSOR.(41).cnf.hdb
final/db/FASTICA_PROCESSOR.(42).cnf.cdb
final/db/FASTICA_PROCESSOR.(42).cnf.hdb
final/db/FASTICA_PROCESSOR.(43).cnf.cdb
final/db/FASTICA_PROCESSOR.(43).cnf.hdb
final/db/FASTICA_PROCESSOR.(44).cnf.cdb
final/db/FASTICA_PROCESSOR.(44).cnf.hdb
final/db/FASTICA_PROCESSOR.(45).cnf.cdb
final/db/FASTICA_PROCESSOR.(45).cnf.hdb
final/db/FASTICA_PROCESSOR.(46).cnf.cdb
final/db/FASTICA_PROCESSOR.(46).cnf.hdb
final/db/FASTICA_PROCESSOR.(47).cnf.cdb
final/db/FASTICA_PROCESSOR.(47).cnf.hdb
final/db/FASTICA_PROCESSOR.(48).cnf.cdb
final/db/FASTICA_PROCESSOR.(48).cnf.hdb
final/db/FASTICA_PROCESSOR.(49).cnf.cdb
final/db/FASTICA_PROCESSOR.(49).cnf.hdb
final/db/FASTICA_PROCESSOR.(50).cnf.cdb
final/db/FASTICA_PROCESSOR.(50).cnf.hdb
final/db/FASTICA_PROCESSOR.(51).cnf.cdb
final/db/FASTICA_PROCESSOR.(51).cnf.hdb
final/db/FASTICA_PROCESSOR.(52).cnf.cdb
final/db/FASTICA_PROCESSOR.(52).cnf.hdb
final/db/FASTICA_PROCESSOR.(53).cnf.cdb
final/db/FASTICA_PROCESSOR.(53).cnf.hdb
final/db/FASTICA_PROCESSOR.(54).cnf.cdb
final/db/FASTICA_PROCESSOR.(54).cnf.hdb
final/db/FASTICA_PROCESSOR.(55).cnf.cdb
final/db/FASTICA_PROCESSOR.(55).cnf.hdb
final/db/FASTICA_PROCESSOR.(56).cnf.cdb
final/db/FASTICA_PROCESSOR.(56).cnf.hdb
final/db/FASTICA_PROCESSOR.(57).cnf.cdb
final/db/FASTICA_PROCESSOR.(57).cnf.hdb
final/db/FASTICA_PROCESSOR.(58).cnf.cdb
final/db/FASTICA_PROCESSOR.(58).cnf.hdb
final/db/FASTICA_PROCESSOR.(59).cnf.cdb
final/db/FASTICA_PROCESSOR.(59).cnf.hdb
final/db/FASTICA_PROCESSOR.cmp.rdb
final/db/FASTICA_PROCESSOR.db_info
final/db/FASTICA_PROCESSOR.hier_info
final/db/FASTICA_PROCESSOR.hif
final/db/FASTICA_PROCESSOR.lpc.html
final/db/FASTICA_PROCESSOR.lpc.rdb
final/db/FASTICA_PROCESSOR.lpc.txt
final/db/FASTICA_PROCESSOR.map.qmsg
final/db/FASTICA_PROCESSOR.pre_map.hdb
final/db/FASTICA_PROCESSOR.rtlv_sg_swap.cdb
final/db/FASTICA_PROCESSOR.rtlv_sg.cdb
final/db/FASTICA_PROCESSOR.rtlv.hdb
final/db/FASTICA_PROCESSOR.sld_design_entry.sci
final/db/FASTICA_PROCESSOR.smart_action.txt
final/db/final.quiproj.19728.rdr.flock
final/incremental_db/compiled_partitions/FASTICA_PROCESSOR.db_info
final/incremental_db/compiled_partitions/FASTICA_PROCESSOR.root_partition.map.dpi.tmp
final/incremental_db/README
